#!/bin/sh

set -e
set -x


logPrefix(){
  echo "$(date --iso-8601=seconds) - $APP_NAME -"
}

APP_NAME="{{ deployed_app_name }}"

echo "$(logPrefix) Deploying $APP_NAME..."

echo "$(logPrefix) Preparing installation..."
ROOT_PATH="{{ root_path }}"
APP_PATH=${ROOT_PATH}/${APP_NAME}
TIMESTAMP=$(date +'%Y%m%d%H%M%S')
RELEASES_PATH=${APP_PATH}/current

echo "$(logPrefix) Installing..."

cd ${RELEASES_PATH}
export $(cat /etc/${APP_NAME}.conf | xargs)

{{ deployment_installation_commands }}

echo "$(logPrefix) Linking new deployment..."

if [ -e /etc/systemd/system/${APP_NAME}.service ]; then
    echo "$(logPrefix) Restarting service..."
    sudo /bin/systemctl restart ${APP_NAME}
fi

echo "$(logPrefix) Deployment of $APP_NAME successfully completed!"

exit 0
