dns_ovh_endpoint = {{ ssl_ovh_endpoint }}
dns_ovh_application_key = {{ ssl_ovh_dns_api_app_key }}
dns_ovh_application_secret = {{ ssl_ovh_dns_api_app_secret }}
dns_ovh_consumer_key = {{ ssl_ovh_dns_api_consumer_key }}
