dns_ovh_endpoint = {{ cert_item.ssl_ovh_endpoint | default(ssl_ovh_endpoint) }}
dns_ovh_application_key = {{ cert_item.ssl_ovh_dns_api_app_key | default(ssl_ovh_dns_api_app_key) }}
dns_ovh_application_secret = {{ cert_item.ssl_ovh_dns_api_app_secret | default(ssl_ovh_dns_api_app_secret) }}
dns_ovh_consumer_key = {{ cert_item.ssl_ovh_dns_api_consumer_key | default(ssl_ovh_dns_api_consumer_key) }}
